
.synopsis-container {
  display: none;
}
.synopsis-visible {
  display: block;
  position: absolute;
  top: 20%;;
  left: 25%;
  z-index: 2;
  box-shadow: 0 0 4px rgba(0,0,0,.7);
  margin-bottom: 50px;
  transition: .5s;
}
.reference-item-full {
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
}
.reference-item-image-full {
  max-width: 100%;
}
.reference-item-image-full img {
  max-width: 100%;
}
.reference-item-heading-full, .reference-item-tagline-full, .synopsis {
  margin-left: 30px;
  max-width: 80%;
}
.reference-item-heading-full {
  text-transform: uppercase;
  text-align: left;
}
.synopsis-case-heading {
  text-align: left;
}
.synopsis-description {
  font-size: 1rem;
  font-family: Raleway;
  font-weight: 400;
  white-space: pre-line;
}
.closeButton {
  font-family: Raleway;
  position: absolute;
  top: 5px;
  right: 15px;
  color: #FFF;
  z-index: 3;
  font-size: 2rem;
  cursor: pointer;
}
.closeButton:hover {
  color: #ff283c;
}